<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <setting key="MySQL:UseConvars">false</setting>
  <setting key="MySQL:Server">127.0.0.1</setting>
  <setting key="MySQL:Port">3311</setting>
  <setting key="MySQL:Database">vRP</setting>
  <setting key="MySQL:Username">Fivem</setting>
  <setting key="MySQL:Password">macaco123</setting>
  <setting key="MySQL:Debug">false</setting>
</configuration>